<ion-modal-view>
    <ion-content>

        <h1>
            Hanabi Online
        </h1>

        <br>

        <h2>
            Sign In:
        </h2>

        <div class="list">

            <label class="item item-input">
                <span class="input-label">IP+Port:</span>
                <input type="text" ng-model="loginData.server">
            </label>
            <label class="item item-input">
                <span class="input-label">Login:</span>
                <input type="text" ng-model="loginData.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password:</span>
                <input type="password" ng-model="loginData.password">
            </label>

            <br>

            <div style="text-align: center">
                <button class="button button-outline button-positive" ng-click="signIn()">Sign In</button>
            </div>

            <div class="login-warning">
                {{loginError}}
            </div>

        </div>
    </ion-content>
</ion-modal-view>
