<ion-view view-title="Chats">
    <ion-content>
        <div class="row row-center" style="border-bottom: #DDDDDD solid 1px;">
            <div class="col col-80">
                <input type="text" ng-model="toSend.text" ng-keypress="keyInput($event)">
            </div>
            <div class="col col-20">
                <button class="button button-outline button-positive" ng-click="send()">Send</button>
            </div>
        </div>

        <div class="row" ng-repeat="data in messages">
            <div class="col col-20" style="font-weigth: 600; color: #387EF5;">
                {{data.pseudo}}:
            </div>
            <div class="col col-80">
                {{data.message}}
            </div>
        </div>

    </ion-content>
</ion-view>
