/* Empty. Add your own CSS if you like */

.icon-margin {
    margin: 0 3px;
}

.login-warning {
    text-align: center;
    color: #ff0000;
}

.hand-container {
    padding: 5px;
}

.flexrow {
	display: flex;
	flex-flow: row nowrap;
    justify-content: space-between;
	align-items: center;
}

.card2 {
    width: 100%;
    margin: 0;
    border: #DDDDDD solid 1px;
}

.card-blue {
    width: 100%;
    margin: 0;
    border: #387EF5 solid 1px;
}

.card-no-border {
    width: 100%;
    margin: 0;
}

.card-container {
    margin: 5px;
}
